{% extends 'base.html' %}

{% load staticfiles %}

{% load thumbnail %}




{% block content %}

    {% for i in product_images %}

                            <!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 design">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The City" href={% static 'img/work/full/image-01-full.jpg' %}>
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                    <span class="overlay-img-thumb font-icon-heart" style= left:100px></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="{{i}}" alt="Test.">
                            </li>
                        	<!-- End Item Project -->

    {% endfor %}

{% endblock %}
